.defaultFamily {
    font-family: var(--font-Poppins);
	font-style: normal;
	letter-spacing: normal;
}

.fontType1 {
    font-family: var(--font-Poppins);
    line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
    font-size: 8px;
    font-weight: 400;
}

.fontType2 {
    font-family: var(--font-Poppins);
    line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
    font-size: 10px;
    font-weight: 400;
}

.fontType4 {
    font-family: var(--font-Poppins);
    line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
    font-size: 14px;
    font-weight: 400;
}

.fontType6 {
    font-family: var(--font-Poppins);
    line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
    font-size: 18px;
    font-weight: 400;
}

.fontType9 {
    font-family: var(--font-Poppins);
    line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
    font-size: 24px;
    font-weight: 400;
}

.fontTypeHeading1 {
    font-family: var(--font-Poppins);
    line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
    font-size: 36px;
    font-weight: 400;
}